[Unit]
DefaultDependencies=no
Before=network.target shutdown.target reboot.target halt.target
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/fhfnas/scripts/discord-notify/discord_notify.sh "FHFnas started up."

[Install]
WantedBy=halt.target reboot.target shutdown.target
